# Node / build
node_modules
dist
build
#Env & certs
.env
*.crt
*.key
certs/
# OS/editor
*DS_Store
*.log
.vscode
*.pem

# to create a new JWT_SECRET:
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"