services:
  backend_app:
    container_name: backend
    build:
      dockerfile: backend.Dockerfile
      context: backend/
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules #maybe delete at the end
      # - ./backend/https:/app/https:ro
    ports:
      - "8080:8080"
    environment:
      - SENDGRID_API_KEY=${SENDGRID_API_KEY}
      - FROM_EMAIL=${FROM_EMAIL}
      - JWT_SECRET=${JWT_SECRET}
    networks:
      - transcendence_network
    healthcheck:
      test: ["CMD", "curl", "-f", "-k", "http://localhost:8080/health"]
      interval: 5s
      timeout: 2s
      retries: 2

# https://github.com/vitejs/vite/discussions/15532
  frontend_app:
    container_name: frontend
    build:
      context: frontend/
      dockerfile: frontend.Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules #maybe delete at the end
      # - ./frontend/https:/app/https:ro #added the certificates
    networks:
      - transcendence_network
    depends_on:
      backend_app:
        condition: service_healthy

  nginx:
    container_name: nginx_proxy
    build:
      dockerfile: nginx.Dockerfile
      context: nginx/
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./nginx/ssl:/etc/nginx/ssl:ro
    depends_on:
      - backend_app
      - frontend_app
    networks:
      - transcendence_network
    restart: unless-stopped

volumes:
  frontend_node_modules:
  backend_node_modules:
  backend_data:

networks:
  transcendence_network:
    name: transcendence_network
    driver: bridge


#old frontend setting
 # frontend_app:
  #   container_name: frontend
  #   build:
  #     dockerfile: frontend.Dockerfile
  #     context: frontend/
  #   ports:
  #     - "3000:3000"
  #   networks:
  #     - transcendence_network
  #   depends_on:
  #     backend_app:
  #       condition: service_healthy
