@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Pixelify+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pink-grid {
    background-color: #ffc7e9;
    background-image: linear-gradient(white 1px, transparent 1px),
        linear-gradient(90deg, white 1px, transparent 1px);
    background-size: 50px 50px;
}

.bg-pink-dark-grid {
    background-color: #ec8fc7;
    background-image: linear-gradient(white 1px, transparent 1px),
        linear-gradient(90deg, white 1px, transparent 1px);
    background-size: 50px 50px;
}

.shadow-no-blur {
    box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.25);
}

.shadow-no-blur-70 {
    box-shadow: -6px 6px 0 rgba(0, 0, 0, 0.70);
}

.shadow-no-blur-50-reverse {
    box-shadow: 4px 4px 0 rgba(25, 0, 167, 0.5);
}

.shadow-no-blur-50-reverse-no-active {
    box-shadow: 4px 4px 0 rgba(25, 0, 167, 0.5);
}

.shadow-no-blur:active {
    transform: translate(-4px, 4px);
    box-shadow: none;
}

.shadow-no-blur-50-reverse:active {
    transform: translate(4px, 4px);
    box-shadow: none;
}

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.placeholder-color::placeholder {
    color: rgba(255, 255, 255, 0.3);
}


/*Pong Game*/

.player-name {
    font-family: 'Pixelify Sans', cursive;
    color: white;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem; 
}

.avatar {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #7a63fe;
    border-width: 3px;
    border-radius: 50%;
    border-style: dotted;
}

.paddle {
	width: 20px;
	height: 130px;
	background-color: white;
	border-radius: 10px;
}

.ball {
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 20px;
}


/*Snake Game*/

.snake {
    width: 100px;
    height: 20px;
    background-color: #ec8fc7;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
}

.snake-blue {
    background-color: #1900a7;
}

.snake-pink {
    background-color: #ec8fc7;
}

.snake-border-blue{
    border-color: #1900a7;
}

.snake-border-pink {
    border-color: #ec8fc7;
}

.snake-head {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.snake-head-blue {
    background-color: #1900a7;
}

.snake-head-pink {
    background-color: #ec8fc7;
}

.snake-food {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1900a7;
}

/*Player Profile*/

.border-purple {
    border-width: 3px;
    border-color: #7a63fe;
}

.button-pp {
    font-family: 'Pixelify Sans', cursive;
    font-size: 2rem;
    text-align: left;
    padding-left: 10px;
    color: white;
    background-color: #1900a7;
    width: 300px;
    height: 50px;
}

.button-pp-settings {
    font-family: 'Pixelify Sans', cursive;
    text-align: left;
    padding-left: 10px;
    color: white;
    background-color: #1900a7;
    width: 300px;
    height: 25px;
}