@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Pixelify+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pink-grid {
    background-color: #ffc7e9;
    background-image: linear-gradient(white 1px, transparent 1px),
        linear-gradient(90deg, white 1px, transparent 1px);
    background-size: 50px 50px;
}

.shadow-no-blur {
    box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.25);
}

.shadow-no-blur-70 {
    box-shadow: -6px 6px 0 rgba(0, 0, 0, 0.70);
}

.shadow-no-blur-50-reverse {
    box-shadow: 4px 4px 0 rgba(25, 0, 167, 0.5);
}

.shadow-no-blur-50-reverse-no-active {
    box-shadow: 4px 4px 0 rgba(25, 0, 167, 0.5);
}

.shadow-no-blur:active {
    transform: translate(-4px, 4px);
    box-shadow: none;
}

.shadow-no-blur-50-reverse:active {
    transform: translate(4px, 4px);
    box-shadow: none;
}

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.placeholder-color::placeholder {
    color: rgba(255, 255, 255, 0.3);
}


/*Pong Game*/

.player-name {
    font-family: 'Pixelify Sans', cursive;
    color: white;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem; 
}

.avatar {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
